.guide
{
    font-size: 25px;
}
#GU
{
    font-size: 30px;
}

#lista
{
    margin-top: -1px;
}
.titulo
{
    font-size: 35px;
    margin-left: 35px;
    
}
.head-title
{
font-size: 25px;
}
.descripcion
{
    font-size: 25px;
    margin-left: 33px;
}