<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="head-title">PasScript</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-xl="8" size-lg="4" size-md="6" size-xs="12">
      <h1 class="titulo">Contraseñas Registradas</h1>
    </ion-col>
  </ion-row>
  <ion-row class="g" *ngFor="let p of passwords">
    <br>
    <ion-col size-xl="1">
      <img class="apps" src="{{ p.img }}" alt="">
    </ion-col>
    <ion-col>
      <ion-row>Aplicación: {{ p.app }} </ion-row>
      <ion-row>Contraseña: {{ p.pass }}</ion-row>
      <ion-row>Encrypted: {{ p.encryp }}</ion-row>
    </ion-col>
  </ion-row>
  
</ion-content>
<ion-footer>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="add()" size="big"color="tertiary"><ion-icon name="Add"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-footer>