.logo
{
    margin-top: 5%;
    width: 70%;
}
.logo.ios
{
    margin-top: 5%;
    width: 100%;
}
.logo.md
{
    margin-top: 5%;
    width: 100%;
}
.l1
{
    margin-top: 15%;
    font-size:45px;
}

.login
{
    width: 70%;
    margin-top: 25%;
    
}
.login.ios
{
    width: 60%;
    margin-top: 8px;
    
}
.login.md
{
    width: 20%;
    margin-top: 8px;
    
}
#fp
{
    width: 32%;
    height: 15%;
    //background: rgb(27, 30, 160);
    border-radius: 100px;
    margin-top: 7%;
    margin-left: 32%;
    text-align: center;
    
}
#fp.ios
{
    width: 32%;
    height: 15%;
    //background: rgb(27, 30, 160);
    border-radius: 100px;
    margin-top: 20%;
    margin-left: 32%;
    text-align: center;
    margin-bottom: 10%;
}
#fp.md
{
    width: 32%;
    height: 15%;
    //background: rgb(27, 30, 160);
    border-radius: 100px;
    margin-top: 20%;
    margin-left: 32%;
    text-align: center;
}

