<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-title class="head-title">PasScript</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  [formGroup]="detalles">
    <ion-item>
      <ion-label position="floating">Selecciona la aplicacion de tu contraseña</ion-label>
      <ion-select value=" " formControlName="aplicacion">
        <ion-select-option value="facebook">Facebook</ion-select-option>
        <ion-select-option value="instagram">Instagram</ion-select-option>
        <ion-select-option value="twitter">Twitter</ion-select-option>
        <ion-select-option value="tiktok">Tiktok</ion-select-option>
        <ion-select-option value="youtube">Youtube</ion-select-option>
        <ion-select-option value="snapchat">Snapchat</ion-select-option>
        <ion-select-option (click)="otraF()"value="otra">Otra</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Otra</ion-label>
      <ion-input [disabled]="otraF()" clearInput type="text" formControlName="apiotra"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input clearInput type="password" formControlName="contraseña"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button [disabled]="false"
        expand="block" ion-button type="submit" (click)="add()">Agregar</ion-button>
      <!--<ion-button 
        [disabled]="false" expand="block" ion-button type="submit" (click)="update()">
        Actualizar</ion-button>
      <ion-button expand="block" color="danger" ion-button type="submit"
        (click)="delete()">Borrar</ion-button>-->
    </ion-item>
  </form>
</ion-content>
<!--*ngIf="otra == true"-->