
*
{
    color:gray;
}
.titulo
{
    font-size: 35px;
    margin-left: 35px;
    
}
.head-title
{
font-size: 25px;
}
.nots
{
    width: 100%;
}
.g
{

    margin-bottom: -15px;
    margin: 0px auto;
    font-size: 30px;
    margin-left: 50px;;
    
}
a{
    text-decoration:none;
    color:white;
}
a:hover
{
    background-color: rgb(15, 107, 2);
    color:rgb(2, 4, 107);
    font-weight: 600;
}
.tit{
font-family: "Comic Sans MS", "Comic Sans";
margin-bottom: 8px;
}
.desc
{
    font-size: 25px;;
}