<ion-content>
  <ion-card class="card-content login view">
    <div class="container">
      <ion-card-header class="display-flex">
        <img class="logo" src="../../../assets/Imagenes/logopasscript.png">
      </ion-card-header>
      <h1 class="title">PasScript</h1>
      <ion-card-content>
        <h2 class="title2">Ingresa tu e-mail</h2>
        <form [formGroup]="recoverPass">
        <ion-item class="item">
          <input autocomplete="off" class="emailinput" required type="email"
            placeholder="E-mail de recuperacion aqui" fromControlName="correo">
        </ion-item>
      </form>
          <ion-button expand="block" *ngIf="!this.loading" (click)="recuperacion()"
            class="send-mail">
            Enviar correo de recuperación
          </ion-button>
      </ion-card-content>
    </div>
    
  </ion-card>
</ion-content>
