<!--<ion-content>
  <ion-card class="card-content login view">
    <div class="container">
      <ion-card-header class="display-flex">
        <img class="logo" src="../../../assets/Imagenes/logopasscript.png">
      </ion-card-header>
      <h1 class="title">SISeI Online</h1>
      <ion-card-content>
        <form [formGroup]="loginForm" autocomplete="off">
          <div align="center">
            <ion-spinner *ngIf="this.loading"></ion-spinner>
          </div>
          <ion-item class="item">
            <input autocomplete="off" class="emailinput" required type="email" formControlName="email"
              placeholder="Correo">
          </ion-item>
          <ion-item class="item">
            <input autocomplete="off" required [type]="type" formControlName="password" placeholder="Contraseña"
              clearOnEdit="true">
            <button item-end class="btn_eye_icon" (click)="changeType()">
              <ion-icon [name]="(type === 'text')?'eye-off':'eye'"></ion-icon>
            </button>
          </ion-item>
          <ion-button [disabled]="!loginForm.valid" expand="block" *ngIf="!this.loading" (click)="signIn()"
            class="login-button">
            Iniciar sesión
          </ion-button>
          <div class="display-flex info">
            <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="link">Regístrate</a>
            <a [routerLink]="['/resetp']" class="linkforgot" >¿Olvidaste
              tu contraseña?</a>
          </div>
        </form>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>-->
<ion-content >
  <ion-card class="card-content login view">
    <div class="container">
      <ion-card-header class="display-flex">
        <img class="logo" src="../../../assets/Imagenes/logopasscript.png">
      </ion-card-header>
      <h1 class="title">PasScript</h1>
      <ion-card-content>
        <form [formGroup]="loginForm" autocomplete="off">
          <div align="center">
            <ion-spinner *ngIf="this.loading"></ion-spinner>
          </div>
          <ion-item class="item">
            <input autocomplete="off" class="emailinput" required type="email" formControlName="email"
              placeholder="Correo">
          </ion-item>
          <ion-item class="item">
            <input autocomplete="off" required [type]="type" formControlName="password" placeholder="Contraseña"
              clearOnEdit="true">
            <button item-end class="btn_eye_icon" (click)="changeType()">
              <ion-icon [name]="(type === 'text')?'eye-off':'eye'"></ion-icon>
            </button>
          </ion-item>
          <ion-button [disabled]="!loginForm.valid" expand="block" *ngIf="!this.loading" (click)="logIn()"
            class="login-button">
            Iniciar sesión
          </ion-button>
          <div class="display-flex info">
            <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="link">Regístrate</a>
            <a [routerLink]="['/forgot-password']" class="linkforgot" >¿Olvidaste
              tu contraseña?</a>
          </div>
        </form>
      </ion-card-content>
    </div>
    <ion-fab vertical="top" horizontal="start">
      <ion-button class="ionf" (click)="loginB()"color="tertiary"><ion-icon name="finger-print-outline"></ion-icon></ion-button>
    </ion-fab>
  </ion-card>
</ion-content>
