<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-title class="head-title">PasScript</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
      <ion-col size-xl="8" size-lg="4" size-md="6" size-xs="12">
        <h1 class="titulo">Perfil</h1>
      </ion-col>
    
  <ion-row class="imgrow">
    <ion-col></ion-col>
    <ion-col size-xl="4" size-lg="4" size-md="6" size-xs="12">
      <img (click)="getProfile()"class="perfilimg" src="{{this.avatar}}" alt="">
      <ion-fab>
        <ion-fab-button (click)="uptimg()" size="big"color="tertiary"><ion-icon ios="image-outline" md="image-sharp"></ion-icon></ion-fab-button>
      </ion-fab>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
    <form [formGroup]="nameForm">
    <ion-row id="data">
    <ion-col size-xl="2" size-lg="1" size-md="2" size-xs="0.5"></ion-col>
    <ion-col size-xl="8" size-lg="10" size-md="8" size-xs="11">
      <ion-title>
        Nombre:
      </ion-title>
      <ion-input disabled="{{estado}}" formControlName="nombre" value="{{name}}"placeholder="Nombre" ></ion-input>
    </ion-col>
    <ion-col size-xl="2" size-lg="1" size-md="2" size-xs="0.5"></ion-col>
  </ion-row>
  <ion-row id="data">
    <ion-col></ion-col>
    <ion-col size-xl="8" size-lg="10" size-md="8" size-xs="11">
      <ion-title>
        Apellido: 
      </ion-title>
      <ion-input disabled="{{estado}}" formControlName="apellido"value="{{last}}" placeholder="Apellido" ></ion-input>
    </ion-col>
    <ion-col></ion-col>
  </ion-row >
  <ion-row id="data">
    <ion-col></ion-col>
    <ion-col size-xl="4" size-lg="10" size-md="10" size-xs="11">
      <ion-title class="descri2">Descripcion:</ion-title>
          <ion-textarea  class="descri" disabled="{{estado}}" [autoGrow]="true" formControlName="descripcion" value="{{desc}}"placeholder="Ingresa aqui tu descripcion" ></ion-textarea>
    </ion-col>
    <ion-col></ion-col>
  </ion-row >
  </form>
  <div class="move">
    <ion-button disabled="{{!estado}}"  ion-button type="submit" (click)="editU()">Editar</ion-button>
    <ion-button disabled="{{estado}}"  ion-button type="submit" (click)="update()">Actualizar</ion-button>
      <ion-button expand="block" color="danger" ion-button type="submit"(click)="delete()">Eliminar usuario</ion-button>
    </div>
  
          <!--<ion-button expand="block" color="danger" ion-button type="submit"
          (click)="otroChange()">Otro</ion-button>-->
     
</div>
</ion-content>
<!--
  formControlName="name" formControlName="description"-->