ion-content{
    --ion-background-color:linear-gradient( 100deg,rgb(215, 226, 55),  rgb(42, 69, 155) 80%,rgb(215, 226, 55));
}

.card-content {
    background-color: #1044ac;
  margin: 16px;
  border-radius: 32px;
  overflow: auto;
  height: 95vh;
}

.display-flex {
  display: flex;
  padding: 0px;
}

.logo {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  width: 50%;
  height: 50%;
}

.button {
  margin-bottom: 8px;
  --border-radius: 32px;
  font-weight: bold;
}

.item {
  color: #0088ff;
  --ion-background-color: white;
  border-radius: 50px;
  margin: 10px;
}

.item:focus {
  border: none;
  outline: none;
}

.input-container {
  border-radius: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
}

.btn_eye_icon {
  right: 0;
  bottom: 4px;
  background: transparent;
  border: none;
  ion-icon {
    font-size: 30px;
    color: #0088ff;
  }
}

.btn_eye_icon:focus {
  outline: none !important;
}

.login.view {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .container {
    width: 90%;
    padding: 0;
  }
}

.login-button {
  border-radius: 15px;
  height: 50px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

ion-card-content {
  text-align: center;
}

@media only screen and (max-width: 641px) {
  .title{
    display: none;
  }
  .card-content {
    height: 95vh;
    margin: 16px;
  }
  .info2 {
    display: none;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 767px) {
  .card-content {
    width: 60%;
    margin-left: 20%;
  }
  //   .input-container,.login-button,.info {
  //       width: 50%;
  //       margin-left: 25%;
  //   }
}

@media only screen and (min-width: 1024px) {
  .card-content {
    width: 35%;
    margin-left: 32%;
  }
  // .input-container,.login-button,.info {
  //     width: 40%;
  //     margin-left: 30%;
  // }
}

.g {
  color: #ea4335;
}

.fb {
  color: #1877f2;
}



.title{
    text-align: center;
    color:#fff;
    margin-bottom: 0;
    padding-bottom: 0;
    // font-size: 40px;
  }
  
.link {
    color: #fff;
    font-size: medium;
  }